/*
Primary: #BCB29A
Secondary: #EA9029
Accent: #A22C34
*/

@import url('https://fonts.googleapis.com/css?family=El+Messiri|Open+Sans');
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "El Messiri", cursive;
}

p {
    font-family: "Open Sanas", sans-serif;
}

body {
    justify-content: center;
    text-align: center;
    background-color: #BCB29A;
    margin-left: 4em;
    min-width: 390px;
}

#logo {
    width: 1em;
    transform: translateY(.5em);
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 4em;
}

nav ul {
    background-color: #A22C34;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 1em;
    margin: 0;
}

nav ul li {
    list-style: none;
}

a {
    color: #FF8300;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em;
}

#display {
    background-color: #EA9029;
    padding: 1em;
    padding-top: 0.1em;
    width: 50%;
    border: 5px solid black;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #A22C34;
    left: 0;
    right: 0;
}

@media screen and (min-width: 32em) {
    body {
        margin: 0;
    }
    nav {
        position: initial;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    nav ul {
        padding: .75em;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    nav ul li {
        display: flex;
        align-content: center;
    }
}
